@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Poppins:wght@400;600;700&family=Work+Sans:wght@400;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared css styles */
:root {
    --primary-color: #FF42A5;
    --secondary-color: #0B0223;
    --third-color: #534C64;
    --primary-font-size: 1.125rem;
    --secondary-font-size: 3rem;
}

.section-title {
    font-size: var(--secondary-font-size);
    font-weight: 700;
    margin-bottom: 0;
}
.mixed-part {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-paragraph {
    font-size: var(--primary-font-size);
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 0;
    margin-top: 20px;
}


/* header  */

/* nav  */

.first-column {
    display: flex;
    align-items: center;
    gap: 20px;
}

.first-column img {
    width: 86.041px;
    height: 40px;
}

.first-column-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

nav {
    /* max-width: 1900px;
     margin: 0 auto; */
    padding: 50px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #3C354F;
}

li>div {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 22px;
}

/* banner */

.banner {   
    display: flex;   
    align-items: center;
}

.banner-column-1{
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 240px 100px 240px;
    margin-right: 150px;
    /* width: 50%; */
}
    

.banner-title {
    font-size: var(--secondary-font-size);
    color: var(--secondary-color);
    font-weight: 600px;
    margin: 0;
}

.goat {
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px;
}

.banner-info {
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-1 {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--primary-color);
    border: 0;
    padding: 20px 40px;
    border-radius: 48px;
}

.btn-2 {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #4EC5F7;
    border: 0;
    padding: 20px 40px;
    border-radius: 48px;
}

.banner-column-2 {
    padding-right: 240px;
}
.banner-column-2 img{
    width: 100%;  
    background-size: cover;  
}


/* main section */

/* section - 1 */

.section-1 {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 100px; 
    padding: 0 240px;   
}

.section-1 .section-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-1-contents {
    text-align: right;
    padding-left: 240px;
      
}

.section-1-btn {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--primary-color);
    border: 0;
    padding: 20px 40px;
    border-radius: 48px;
    margin-top: 30px;
}

.second-paragraph {
    color: var(--third-color);
    font-size: 24px;
    font-weight: 500;

}

.section-1 img{
    width: 100%;
  
}

/* section - 2 */

.section-2-contents {
    text-align: center;
    margin-bottom: 50px;
}

.image-container {
    display: flex;
    gap: 20px;
    padding: 0 240px;
    margin-bottom: 50px;
}

.play-btn {
    position: relative;
    top: -45%;
    left: 50%;
}

.play-btn-paragraph {
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-weight: 600;
    position: relative;
    right: 30px;
    margin-top: 0;
}

/* section - 3 */

.section-3 {
    display: flex;
    align-items: center;
    padding: 0 240px;
}

.section-3-column-1 {
    padding-right: 150px;
    text-align: right;
}

.section-3-image {
    height: 100%;
    margin-left: 150px;
}

.img-position {
    position: relative;
    top: -250px;
}

/* section - 4 */
.section-4 {
    display: flex;
    align-items: center;
    padding: 0 240px;
}

.section-4-contents {
    padding-left: 150px;
}


.img-position-1 {
    position: relative;
    left: 500px;
    bottom: 250px;
}


/* section - 5 */
.section-5 {
    display: flex;
    background-color: var(--primary-color);
    /* height: 800px; */
    align-items: center;
}

.section-5-column-1 {
    padding-left: 240px;
}

.section-5-title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 0;
}

.section-5-paragraph {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.section-5-column-1 .address-container {
    display: flex;
    gap: 80px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.btn-section-5 {
    border-radius: 28px;
    border: 0;
    color: var(--primary-color);
    padding: 20px 40px;
    font-size: 1.25rem;
    margin-top: 20px;
}

/* section - 6 */
.section-6 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
    
}

.section-6-column-1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px 240px;
    
}
 
#gm{
   margin-top: 20px;
}
    


.game {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 50px;
    background: #FFF;
    padding: 10px;
}

#static {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    background: #FFF;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px;
}

.game:hover {
    border: 4px solid navy;
}

/* footer section */

footer {
    background-color: #0B0223;
}

footer header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

footer header img {
    width: 86.041px;
    height: 40px;
    margin-right: 20px;
}

footer header h5 {
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    gap: 60px;
    list-style: none;
}

footer ul li a {
    color: #FFF;
}

.company ul li {
    text-align: center;
    margin-top: 10px;
    height: 40px;
    margin-bottom: 20px;
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.footer-section-paragraph {
    font-size: var(--primary-font-size);
    font-weight: 400;
    color: rgba(255, 255, 255, 0.60);
}

.copy-rights {
    text-align: center;
    margin-top: 0;
    padding-bottom: 100px;
}



/* Responsive css styles */

/* For mobile and small scree  */
  
    @media screen and (max-width: 678px) {
        nav, nav>ul, .banner, .section-1{
            flex-direction: column;
        }
        .banner-column-1{
            width: 100%;
            margin-right: 0;
        }
        .banner-column-2 img{
            width: 100%;
        }
    }


   
